@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgMagentaBlue: #1b1b32;
  --darkGay: #3b3b4f;
  --bgBtn: linear-gradient(#fecc4c, #ffac33);
  --interFont: "Inter", sans-serif;
  --latoFont: "Lato", sans-serif;
  --white: #f5f6f7;
  --bgInput: #0A0A23;
}

body {
  background-color: var(--bgMagentaBlue);
  color: var(--white);
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  max-width: 20rem;
  text-align: center;
  font-family: var(--latoFont);
  font-size: 2.5rem;
}

.container-input, .output {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkGay);
  padding: 2rem 2.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  max-width: 31rem;
  width: 100%;
  border: 2px solid var(--white);
}

.label, .input {
  font-family: var(--interFont);
  font-weight: 700;
}

.input {
  min-height: 3.5rem;
  width: 100%;
  margin: 1rem;
  font-size: 2rem;
  background-color: var(--bgInput);
  color: var(--white);
  border: 2px solid var(--white);
}

.btn {
  width: 100%;
  padding: 1rem;
  background: var(--bgBtn);
  font-size: 1.3rem;
  border: 2px solid orange;
}

.output {
  display: none;
  margin-top: 1.5rem;
  padding: 10px;
  font-size: 2.5rem;
  font-family: var(--latoFont);
  text-transform: uppercase;
}